@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts
{
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ak5szsi1xk&callback=mapSet"></script>
}

<style type="text/css">

	.gridcontainer {
		display: grid;
		grid-template-columns: 120px 270px;
		grid-template-rows: 60px 30px 30px 30px 30px 30px;
	}

	.gridtitle {
		font-weight: bold;
		text-align: left;
		margin: 0 10px 0 15px;
	}

	.non-visiable {
		display: none;
	}

	.alert {
		margin-bottom:10px;
		border-radius:0px;
	}

    label{
        margin-left:3px;
        margin-right:10px;
    }


	#options {
		width: 95%;
		height: 600px;
		display: none;
		background: #eee;
		top: 0;
		left: 0;
		margin: 111px 20px 0 15px;
		position: absolute;
		z-index: 9999;
	}

	#recentKeyword {
		width: 90%;
		display: none;
		background: #fff;
		top: 0;
		left: 0;
		margin: 105px 20px 0 15px;
		position: absolute;
		z-index: 9999;
		border:1px solid #e4e7e8;
        color:#333;
	}


    ul{
        list-style:none;
    }


	#closeBtn {
		position: fixed;
		z-index: 99;
		left: 90%;
		top: 85%;
	}

</style>
   

<script type="text/javascript">

    var map;
    var markers=[];
    var infoWindows = [];
    var dataList = [];

    function resetMap() {
        
        markers=[];
        infoWindows = [];
        dataList = [];
        //console.log("mapInit");
	}


    function mapInit() {

        map = null;
        markers=[];
        infoWindows = [];
        dataList = [];
        //console.log("mapInit");

        navigator.geolocation.getCurrentPosition(function (position) {
            setMap(position.coords.latitude, position.coords.longitude);

            var latlng = map.getCenter(); 
            console.log("init");
            console.log(latlng);

            search(latlng);

            }
            , function (error) {
                console.log(error);
            });

	}


    function mapSet() {

        if(!navigator.geolocation) {
            alert('Geolocation is not supported by your browser');
        }
        else
        {
            mapInit();
        }
    }

    function searchCenter() {

        search(map.getCenter());
    }

    function hideMarker() {

        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
            infoWindows[i].close();
        }

        markers = [];
        infoWindows = [];
	}

    function search(latlng) {

        hideMarker();

        
        ajax(latlng)
        //console.log(markers.length);

        closeDiv("options");
        closeDiv('recentKeyword');
	}


    function ajax(latlng) {
       
        var url = "/Festival/Search";
        
        var data = {
            "keyword": $("#keyword").val(),
        };

        //$("#divCampList").empty();
        var list = "";

        $.ajax({
            type: "post",
            //url: "/camp/Search",
            url: url ,
            data: data,
            success: function (data) {
                //script = data.replace(/<script>(.*)<\/script>/, "$1"); // Remove tags
                //eval(script); // Execute javascript

                //console.log(data);

                if (data.items.length > 0) {

                    dataList = data;

                    var cnt = (data.items.length < 20 ? data.items.length : 20);

                    for (var i = 0; i < data.items.length; i++) {

                        var lng = data.items[i].mapx;
                        var lat = data.items[i].mapy;

                        setMarker(lat, lng, data.items[i].title, i);


                        if (i < cnt) {
                             var visiable = ""
                            if (i >= 5) {
                                visiable = "non-visiable"
                            }

                            var imgUrl = data.items[i].firstimage2 == "" ? "/img/no_image.png" : data.items[i].firstimage2;

                            list += '<div class="alert alert-info ' + visiable + '" style="padding:7px 5px 7px 5px;" >';
                            list += '    <div class="media">';

                            list += '        <a href="javascript:getClickListItem(' + i + ');" style="text-decoration: none;">';
                            list += '        <div class="media-left">';
                            list += '            <img class="media-object" src="' + imgUrl + '" style="width: 60px; height: 80px;">';
                            list += '        </div>';
                            
                            
                            list += '        <div class="media-body">';
                            list += '        <h5 class="media-heading"><b>' + data.items[i].title + "</b></h5>"; 

                            list += '        <p style="font-size:13px;margin-bottom:5px;"> 주소 : ' + data.items[i].addr1 + ' ' + data.items[i].addr2 + "</p>";
                            list += '        <p style="font-size:13px;margin-bottom:5px;"> 기간 : ' + dateFormat(data.items[i].eventstartdate) + ' ~ ' + dateFormat(data.items[i].eventenddate) + "&nbsp;&nbsp;";


                            //list += '           <p>';
                            if (data.items[i].status == "행사대기") list += '<span class="label label-info">' + data.items[i].status + '</span>';
                            else if (data.items[i].status == "행사중") list += '<span class="label label-success">' + data.items[i].status + '</span>';
                            else if (data.items[i].status == "행사종료") list += '<span class="label label-default">' + data.items[i].status + '</span>';
                            //list += '           </p>';
                            list += '        </p>';
                            

                            list += '        </div>';
                            list += '        </a>';

                            list += '    </div>';
                            list += '</div>';

						}

                    }

                    // 검색은 첫번째 데이터로 이동
                    if ($("#keyword").val() != "") {
                        var center = new naver.maps.LatLng(data.items[0].mapy, data.items[0].mapx);

                        map.setCenter(center);
                    }


                    if (cnt > 5) {
                        // 더보기 버튼
                        list += '<div id="more">';
                        list += '  <button type="button" class="btn btn-default btn-lg btn-block" onclick="viewMore();">더보기(More)</button>';
                        list += '</div>';
                    }
                    
                   
                }
                else {
                    // 검색내역이 없습니다.
                    list += '<div style="text-align:center;">검색내역이 없습니다.</div>';

                }

                if (list != "") {
                    $("#divList").html(list);
                    $("#divList").show();
                    $("#divDtl").hide();
                }

                
            },
            error: function (data) {
                //alert("error: " + data.responseText);
            }
        });

    }


    function viewMore() {
        var tot = $("#divList > .non-visiable").length;
        
        if (tot > 0) {
            $("#divList > .non-visiable").each(function (index, item) {
                if (index < 5) {
                    $(this).removeClass("non-visiable");
                }
            });
        }

        var tot2 = $("#divList > .non-visiable").length;
        
        if (tot2 == 0) $("#more").hide();

        //console.log(tot + ">" + tot2);
     
	}


    function setMap(lat, lng) {
        var mapOptions = {
            center: new naver.maps.LatLng(lat, lng),
            zoom: 8,
            //scaleControl: false,
            logoControl: false,
            //mapDataControl: false,
            //zoomControl: false,
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.SMALL,
                position: naver.maps.Position.TOP_RIGHT
            },
        };

        //console.log(mapOptions);

        map = new naver.maps.Map('divMap', mapOptions);


                // 마우스 드래그로 지도 이동이 완료되었을 때 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        naver.maps.Event.addListener(map, 'dragend', function(event) {        
    
            // 지도 중심좌표를 얻어옵니다 
            var latlng = map.getCenter(); 
    
            //var message = '중심좌표 : ' + latlng.getLat() + ', '+ latlng.getLng();
            
            console.log("mouseEvent dragend");
            console.log(event);

            //var resultDiv = document.getElementById('result');  
            //resultDiv.innerHTML = message;

            //searchCoordinateToAddress(event.coord);
            //search(latlng);
    
        });


        naver.maps.Event.addListener(map, 'click', function (event) {
            // 클릭한 위도, 경도 정보를 가져옵니다 
            console.log("mouse click");
            console.log(event);
        });



	}

    function setMarker(lat, lng, facltNm, seq) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(lat, lng),
            map: map,
            /*
            icon: {
                url: '/img/camp_icon.png',
                size: new naver.maps.Size(22, 35)
                
            }
            */
        });

        markers.push(marker);

        var infoWindow = new naver.maps.InfoWindow({
            content: '<div style="width:250px;"><div style="padding:10px;" onclick="closeInfo(' + seq + ')"> <b>' + facltNm + '</b><div>' +
                     '<div> 기간 : '+ dateFormat(dataList.items[seq].eventstartdate) +' ~ ' + dateFormat(dataList.items[seq].eventenddate) + '</div></div>'
        });

        infoWindows.push(infoWindow);

        markers[seq].setMap(map);
        naver.maps.Event.addListener(markers[seq], 'click', getClickHandler(seq, true));

    }


    function dateFormat(val) {

        return val.substr(0, 4) + '-' + val.substr(4, 2) + '-' + val.substr(6, 2);
	}


    function closeInfo(seq) {
        infoWindows[seq].close();
	}

    // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
    function getClickHandler(seq, isMap) {

        return function (e) {

            getClickListItem(seq, isMap);
            
        }
    }

    function getClickListItem(seq, isMap) {

        var marker = markers[seq],
        infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }

        setDetail(seq, isMap);
	}

    

    function slides() {
         

        $('.slider-img').bxSlider({
            //controls: false
            auto: true,
        });


        $('.slider-blog').bxSlider({
            auto: true,
            controls: false,
        });

	}



    function setDetail(seq, isMap) {

        map.setCenter(new naver.maps.LatLng(dataList.items[seq].mapY, dataList.items[seq].mapX));

        var height = 100 * seq;
        if (isMap) {
            height = 0;
		}

        showDiv("light", height);

        $("#divFestivalDtl").show();
        $("#divTitle").empty();

        $.ajax({
            type: "post",
            url: "/festival/detail",
            data: "contentId=" + dataList.items[seq].contentid,
            success: function (data) {

                //console.log(data);
                if (data != null) {

                    var common = data.response.body.items.item[0];

                    var title = ""
                    title += "<p>■ <b>" + common.title + "</b>"

                    // 회원이면 좋아요 버튼 노출
                    title += '<img id="btnLike" src="/img/icon/icons8-heart-50.png" data-value="false" alt="like it" style="margin-left:15px;width:25px;" onclick="javascript:like(' + common.contentid + ');"/>';
                    title += "</p>";
                    title += "<p> - " + common.addr1 + " " + common.addr2 + "</p>";

                    title += "<p> - " + dateFormat(dataList.items[seq].eventstartdate) + ' ~ ' + dateFormat(dataList.items[seq].eventenddate) + "&nbsp;&nbsp; ";

                    if (dataList.items[seq].status == "행사대기") title += '<span class="label label-info">' + dataList.items[seq].status + '</span>';
                    else if (dataList.items[seq].status == "행사중") title += '<span class="label label-success">' + dataList.items[seq].status + '</span>';
                    else if (dataList.items[seq].status == "행사종료") title += '<span class="label label-default">' + dataList.items[seq].status + '</span>';
                    title += "</p>"


                    title += "<hr style='height:5px;'/>";

                    title += "<p>■ <b> 문의</b></p>"
                    if (common.tel != "") {
                        title += "<p> <a href='tel:" + common.tel + "'>" + common.tel + "</a>&nbsp; &nbsp; " + common.telname + " </p>";
                    }

                    if (common.homepage != "") {
                        title += "<p> " + common.homepage + "</p>"
                    }

                    $("#divTitle").html(title);

                    if (common.overview != "") {
                        $("#divDesc").html(common.overview);
                        $("#divDesc").show();
                    }
                    else {
                        $("#divDesc").hide();
                    }

                }
                else {
                    $("#divTitle").html("");
				}

            }
        });


        detailInfo(seq);

        detailImage(seq);

        getBlogs(seq);

    }



    function detailInfo(seq) {

        $("#divInfo").empty();

        $.ajax({
            type: "post",
            url: "/festival/detailinfo",
            data: "contentId=" + dataList.items[seq].contentid + "&contentTypeId=" + dataList.items[seq].contenttypeid,
            success: function (data) {

                //console.log(data);
                if (data != null) {

                    var info = data.response.body.items.item;

                    var desc = '<hr />';

                    for (var i = 0; i < info.length; i++) {

                        if (info[i].infotext != "") {
                            desc += '<p  style="margin-top:15px;margin-bottom:5px;">■ <b>'+info[i].infoname+'</b></p>';
                            desc += '<div style="margin-bottom:15px;">' + info[i].infotext + '</div>'
                        }
                    }
                    $("#divInfo").html(desc);
				}
            }
        });
    }

    function detailImage(seq) {

        $("#divImage").empty();

        var imgHtml = "";
        $("#divImage").show();
        $("#divImage").html("<div style='text-align:center;'><img src='/img/loading.gif'/></div>");

        $.ajax({
                type: "post",
                url: "/festival/detailImage",
                data: "contentId=" + dataList.items[seq].contentid,
                success: function (data) {

                    //$("#divImage").empty();

                    if (data.response != null) {
                        if (data.response.body.items != null) {
                            if (data.response.body.items.item.length > 0) {

                                imgHtml += '<div class="slider-img">';
                                //imgHtml += '<div class="swiper-wrapper">';

                                for (var i = 0; i < data.response.body.items.item.length; i++) {
                                    //console.log(data.response.body.items.item[i]);
                                    imgHtml += '<div class="swiper-slide"><a href="javascript:showImg(\'' + data.response.body.items.item[i].originimgurl + '\');"><img src="' + data.response.body.items.item[i].originimgurl + '" style="width:100%; height:300px;" /></a></div>'
                                }

                                imgHtml += '</div>';
                                //imgHtml += '<div class="swiper-pagination"></div>';
                                //imgHtml += '</div>';

                                imgHtml += '<hr style="height:5px;"/>';
                            }
                            else {
                                imgHtml = "<img src='/img/no_image.png' />";

                                $("#divImage").hide();

							}

                            $("#divImage").html(imgHtml);

                            slides();
                        }
                        else {
                            $("#divImage").html("<img src='/img/no_image.png' />");
                            $("#divImage").hide();
                        }

                    }
                    else {
                        $("#divImage").html("<img src='/img/no_image.png' />");
                        $("#divImage").hide();
					}
                    
                },
                error: function (data) {
                    //alert("error: " + data.responseText);
                    $("#divImage").html("<img src='/img/no_image.png' />");
                    $("#divImage").hide();
                }
            });
	}

    function slides() {
         

        $('.slider-img').bxSlider({
            //controls: false
            auto: true,
        });


        $('.slider-blog').bxSlider({
            auto: true,
            controls: false,
        });

	}

    function showImg(url) {
        window.open(url);
        //console.log(url);
    }


    function getBlogs(seq) {

        var name = dataList.items[seq].title;
        var blog = ''
        

        $.ajax({
                type: "post",
                url: "/Festival/Blogs",
                data: "query=" + encodeURIComponent(name),
                success: function (data) {
                    //script = data.replace(/<script>(.*)<\/script>/, "$1"); // Remove tags
                    //eval(script); // Execute javascript

                    //console.log(data);


                    if (data.items != null && data.items.length > 0) {

                        blog += '<p style="margin-bottom:15px;">■ <b>이용 후기(블로그)</b></p>';
                        blog += '<div class="slider-blog">';

                        for (var i = 0; i < data.items.length; i++) {
                            
                            blog += ' <div>';
                            blog += '   <div style="margin-bottom:5px;"><b>' + data.items[i].title + '</b></div>';
                            blog += '   <a href="' + data.items[i].link + '" target="_blank");">';
                            blog += '     <div>'+ data.items[i].description +'</div>';                           
                            blog += '   </a>';


                            var ymd = data.items[i].postdate.substr(0, 4) + '-' +
                                data.items[i].postdate.substr(4, 2) + '-' +
                                data.items[i].postdate.substr(6, 2);


                            blog += '   <div style="text-align:right;">'+ ymd +'</div>';
                            blog += ' </div>';
                        }
                        blog += '</div>';

                        $("#divBlogs").html(blog);
                        slides();
					}

                },
                error: function (data) {
                    //alert("error: " + data.responseText);
                }
            });
    }
    

    function showOption() {
        
        //console.log($("#options").css("display"))
        if ($("#options").css("display") == "none") {
            //$("#options").show();
            showDiv("options");
            closeDiv("recentKeyword");
            $("#options").css("top", "0px");
        }
        else {
            closeDiv("options");
		}
	}


</script>

    <div id="divSearch" style="margin:0 0 8px 0;text-align:left;">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" autocomplete="off" class="form-control" id="keyword" placeholder="축제명 검색" style="border-radius:0px;" >
                 <span class="input-group-btn">
                    <!--<button class="btn btn-default" type="button" style="border-radius:0px;margin-left:5px;" onclick="javascript:showOption();">상세조건 +</button> -->
                    <button class="btn btn-success" type="button" style="border-radius:0px;margin-left:5px;" onclick="javascript:searchCenter();">검색하기</button> 
                    
                     <!--<button class="btn btn-success" type="button" style="border-radius:0px;margin-left:5px;" onclick="javascript:areacode();">지역코드</button> -->
                </span> 
            </div>
          </div>
        </form>
    </div>

    <div id="divMap" style="width:100%;height:370px;"></div>
    
    <div id="divList" style="margin-top: 25px;"></div>


    <div id="divBottom" style="width:100%;height:100px;"></div>

    <div id="fade" class="black_overlay" style="display:none;"></div>
    <div id="light" class="white_content" style="width:100%;">
		<div>
			<div id="closeBtn" style="text-align:right; vertical-align:text-top;">
				<a href="javascript:void(0)" onclick="closeDiv('light');">
					<img src="/img/close_square.png" style="width:40px;height:40px;" />
				</a>
			</div>

			<div style="color:blue;margin-left:45px;"></div>

			<div id="divFestivalDtl" style="margin-left:10px;display:none;">

				<div id="divTitle" style="width:100%;margin-top:15px;"></div>

                <div id="divImage" style="width:100%;margin-top:5px;"></div>

				<div id="divDesc" style="width:100%;margin-top:15px;display:none;"></div>

                <div id="divInfo" style="width:100%;margin-top:15px;"></div>
				
                <div id="divBlogs" style="width:100%;margin-top:15px;"></div>

                <div id="divComments" style="width:100%;margin-top:15px;"></div>

                <div style="margin-bottom: 15px;"></div>

			</div>

		</div>
    </div>



    <div id="options">
        <div style="margin: 10px 10px 10px 10px;">
            <div class="panel panel-info">
              <div class="panel-heading">운영형태</div>
              <div class="panel-body">
                  <input type="checkbox" name="facltDivNm" id="facltDivNm1" value="지자체"/><label for="facltDivNm1">지자체 </label>
                  <input type="checkbox" name="facltDivNm" id="facltDivNm2" value="국립공원"/><label for="facltDivNm2"> 국립공원 </label>
                  <input type="checkbox" name="facltDivNm" id="facltDivNm3" value="자연휴양림"/><label for="facltDivNm3"> 자연휴양림 </label>
                  <input type="checkbox" name="facltDivNm" id="facltDivNm4" value="국민여가"/><label for="facltDivNm4"> 국민여가 </label>
                  <input type="checkbox" name="facltDivNm" id="facltDivNm5" value="민간"/><label for="facltDivNm5"> 민간 </label>
              </div>
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">주요시설</div>
              <div class="panel-body">
                  <input type="checkbox" name="induty" id="induty1"  value="일반야영장"/><label for="induty1"> 일반야영장 </label>
                  <input type="checkbox" name="induty" id="induty2"  value="자동차야영장"/><label for="induty2"> 자동차야영장 </label>
                  <input type="checkbox" name="induty" id="induty3"  value="카라반"/><label for="induty3"> 카라반 </label>
                  <input type="checkbox" name="induty" id="induty4"  value="글램핑"/><label for="induty4"> 글램핑 </label>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">부대시설</div>
              <div class="panel-body">
                  <input type="checkbox" name="sbrsCl" id="sbrsCl1"  value="전기"/><label for="sbrsCl1"> 전기 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl2"  value="무선인터넷"/><label for="sbrsCl2"> 와이파이 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl3"  value="트렘폴린"/><label for="sbrsCl3"> 트렘폴린 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl4"  value="물놀이장"/><label for="sbrsCl4"> 물놀이장 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl5"  value="놀이터"/><label for="sbrsCl5"> 놀이터 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl6"  value="산책로"/><label for="sbrsCl6"> 산책로 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl7"  value="운동장"/><label for="sbrsCl7"> 운동장 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl8"  value="운동시설"/><label for="sbrsCl8"> 운동시설 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl9"  value="마트.편의점"/><label for="sbrsCl9"> 마트.편의점 </label>
                  <input type="checkbox" name="sbrsCl" id="sbrsCl10"  value="온수"/><label for="sbrsCl10"> 온수 </label>
              </div>
            </div>

        </div>

         <div class="form-group" style="margin: 50px 10px 10px 10px;">
            <div class="input-group">
                 <span class="input-group-btn">
                     <button class="btn btn-success btn-block" type="button" onclick="javascript:searchCenter();">검색하기</button>
                    <button class="btn btn-default btn-block" type="button" onclick="javascript:showOption();">닫기</button> 
                </span> 
            </div>
          </div>

    </div>



    <script type="text/javascript">

        $(document).ready(function () {
		    $("#fade").on("click", function () {
                closeDiv("light");
                closeDiv("options");
		    });

		    // esc 키가 눌러지면 레이어를 닫는다.
		    $(document).keydown(function (event) {
			    if (event.keyCode == 27 || event.which == 27) {
                    closeDiv("light");
                    closeDiv("options");
			    }
            });
        });


        function wrapWindowByMask() {
		    //화면의 높이와 너비를 구한다.
		    var maskHeight = $(document).height();
		    var maskWidth = $(window).width();

		    //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
		    $('#fade').css({ 'width': maskWidth, 'height': maskHeight });

	    }

	    /// 화면의 중앙에 레이어띄움
	    function showDiv(objId, height) {
            wrapWindowByMask();
            var pos = "80";
            if(height!= undefined && height >0) pos = 400 + height;
            
		    $("#" +objId).css("position", "absolute");
            $("#" + objId).css("top", pos + "px");
            //$("#" +objId).css("top", Math.max(0, (($(window).width() - $("#light").outerWidth()) / 2) + $(window).scrollLeft())  + "px");
		    $("#" +objId).css("left", Math.max(0, (($(window).width() - $("#light").outerWidth()) / 2) + $(window).scrollLeft())  + "px");

		    $('#fade').show();
		    $("#" +objId).show();
	    }

	    function closeDiv(objId) {
		    $('#fade').hide();
		    $("#" +objId).hide();
	    }


    </script>

    