
@{
	
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>

<style type="text/css">

	#circle {
		background-color: red;
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	ul li {
		list-style-type: none;
        float:left;
        margin-right:15px;
        width:30px;
        height:30px;
        text-align:center;
        vertical-align:middle;
        font-size:20px;
	}

	

</style>

<script type="text/javascript">


    $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });


  $(function() {
            $("#date").datepicker();
        });

    function search()
    {
        $.ajax({
			type: "post",
			url: '/Lotto/Prize',
			data: "date=" + $("#date").val() ,
            success: function (json) {
                console.log(json);

                if (json != null) {
                     //console.log(json);
                    $("#result").show();     
                    $("#spndrNo").text(json.no);
                    $("#no1").text(json.drwtNo1)
                    $("#no1").css("background-color", getColor(json.drwtNo1))

                    $("#no2").text(json.drwtNo2)
                    $("#no2").css("background-color", getColor(json.drwtNo2))

                    $("#no3").text(json.drwtNo3)
                    $("#no3").css("background-color", getColor(json.drwtNo3))

                    $("#no4").text(json.drwtNo4)
                    $("#no4").css("background-color", getColor(json.drwtNo4))

                    $("#no5").text(json.drwtNo5)
                    $("#no5").css("background-color", getColor(json.drwtNo5))

                    $("#no6").text(json.drwtNo6)
                    $("#no6").css("background-color", getColor(json.drwtNo6))

                    $("#bonus").text(json.bnusNo)
                    $("#bonus").css("background-color", getColor(json.bnusNo))

                    $("#win_count").text(json.firstPrzwnerCo)
                    $("#win_amt").text(AddComma(json.firstWinamnt))
				}
			},
		});


    }
     
    function AddComma(num)
    {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ',');
    }


    function getColor(no) {
        let color = "";
        if (no < 10) {
            color = "#fbc400";
		}
        else if (no>=10 && no < 20) {
            color = "#69c8f2";
		}
        else if (no>=20 && no < 30) {
            color = "#ff7272";
        }
        else if (no>=30 && no < 40) {
            color = "#aaa";
        }
        else if (no>=40) {
            color = "#b0d840";
        }

        return color;
	}

</script>



<h4>결과 조회</h1>


<div class="input-group">
    <input type="text" name="date" id="date" class="form-control" placeholder="추첨일">
    <span class="input-group-btn">
    <button type="button" class="btn btn-success" onclick = "search();">조회 </button>
    </span>
</div>



<div style="margin-top: 30px;">

</div>

<div class="panel panel-default" id="result" style="display:none">
     <div class="panel-heading">
          <strong><span id="spndrNo"></span> 회차 당첨결과</strong><br /><br />
          당첨인원 : <span id="win_count"></span> 명<br /><br />
          당첨금 : <span id="win_amt"></span> <br /><br />          
     </div>
     <ul class="panel-body">          
          <li id="no1" class="label label-success"></li>
          <li id="no2" class="label label-primary"></li>
          <li id="no3"  class="label label-success"></li>
          <li id="no4" class="label label-info"></li>
          <li id="no5"  class="label label-warning"></li>
          <li id="no6"  class="label label-danger"></li>
          <li>+</li>
          <li id="bonus" class="label label-default"></li>
          
     </ul>
   </div>
