<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name ="google-signin-client_id" content="1061916295015-dcb9sn0767gmk7md8i0hsss0lplbgd4k.apps.googleusercontent.com">

    <title>@ViewData["Title"] 캠핑장 찾기</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1971674194330083"
     crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)


    <script>



    </script>

</head>
<body>
    <header class="header">
        <nav class="">
            <div class="container">
               
                <div class="panel-heading" style="float:left;">
                    <h4><a href="/">CampView</a></h4>
                </div>

                <div class="panel-heading" style="float:right;">
                @if (User.Identity.IsAuthenticated)
				{
                    
                   @if (User.Claims.Any(x => x.Type == "name"))
				   {
                       <span style="font-size:12px;">
                        @string.Format("{0}님", User.Claims.FirstOrDefault(x => x.Type == "name").Value)
                       </span>
				   }
                   <span style="font-size:16px;"><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></span>
				}
				else
				{
                   <span style="font-size:16px;"><a href="/Account/Login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></span>
				}

                </div>
            </div>
        </nav>
    </header>

    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CampView. All Rights Reserved.
        </div>
    </footer>

    


</body>
</html>

