@{
    ViewData["Title"] = "Redis Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <div>
        <div>key : <input type="text" name="key" /></div>
        <div>value : <input type="text" name="value" /></div>
        
        <div><input type="button" value="Get" />  <input type="button" value="Set" /></div>
    </div>

</div>
